flows.json
[
    {
        "id": "387c34ec1e103805",
        "type": "server-state-changed",
        "z": "6cb41a7464cbabc6",
        "name": "PM2.5",
        "server": "5a745765.1b0568",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.rs_weather_station_pms5003_pm2_5",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 190,
        "y": 260,
        "wires": [
            [
                "384a0489024ac2a4"
            ]
        ]
    },
    {
        "id": "384a0489024ac2a4",
        "type": "switch",
        "z": "6cb41a7464cbabc6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "btwn",
                "v": "11",
                "vt": "num",
                "v2": "40",
                "v2t": "num"
            },
            {
                "t": "gte",
                "v": "41",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "d370400dd672d0cc"
            ],
            [
                "96506ad4f6b71278"
            ],
            [
                "ca131bd5f7198fa2"
            ]
        ]
    },
    {
        "id": "d370400dd672d0cc",
        "type": "api-call-service",
        "z": "6cb41a7464cbabc6",
        "name": "green",
        "server": "5a745765.1b0568",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.rs_weather_station",
        "data": "{\"color_name\":\"green\"}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 590,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "96506ad4f6b71278",
        "type": "api-call-service",
        "z": "6cb41a7464cbabc6",
        "name": "orange",
        "server": "5a745765.1b0568",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.rs_weather_station",
        "data": "{\"color_name\":\"orange\"}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 600,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "ca131bd5f7198fa2",
        "type": "api-call-service",
        "z": "6cb41a7464cbabc6",
        "name": "red",
        "server": "5a745765.1b0568",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.rs_weather_station",
        "data": "{\"color_name\":\"red\"}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 590,
        "y": 320,
        "wires": [
            []
        ]
    }
]