flows.json
[
    {
        "id": "5ef34e502ab74510",
        "type": "api-call-service",
        "z": "4a5f96196f08ceb9",
        "name": "green",
        "server": "5a745765.1b0568",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.rs_weather_station",
        "data": "{\"rgb_color\":[143,206,0]}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 830,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "6c511df57efcbe11",
        "type": "api-call-service",
        "z": "4a5f96196f08ceb9",
        "name": "orange",
        "server": "5a745765.1b0568",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.rs_weather_station",
        "data": "{\"rgb_color\":[247,126,0]}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 840,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "c60e6edae5d18bea",
        "type": "api-call-service",
        "z": "4a5f96196f08ceb9",
        "name": "red",
        "server": "5a745765.1b0568",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.rs_weather_station",
        "data": "{\"rgb_color\":[255,26,93]}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 830,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "8a062af6768b37ab",
        "type": "api-call-service",
        "z": "4a5f96196f08ceb9",
        "name": "brightness_pct : 40",
        "server": "5a745765.1b0568",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.rs_weather_station",
        "data": "{\"brightness_pct\":\"40\"}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 470,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "abb36a16ec7e1c19",
        "type": "inject",
        "z": "4a5f96196f08ceb9",
        "name": "20:00 to 40%",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 20 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 245,
        "y": 360,
        "wires": [
            [
                "8a062af6768b37ab"
            ]
        ]
    },
    {
        "id": "23acdeb9b396df30",
        "type": "api-call-service",
        "z": "4a5f96196f08ceb9",
        "name": "brightness_pct : 100",
        "server": "5a745765.1b0568",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.rs_weather_station",
        "data": "{\"brightness_pct\":\"100\"}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 480,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "bdb202b0193c83d9",
        "type": "inject",
        "z": "4a5f96196f08ceb9",
        "name": "05:30 to 100%",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "30 05 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 245,
        "y": 440,
        "wires": [
            [
                "23acdeb9b396df30"
            ]
        ]
    },
    {
        "id": "e64bcf2dfbc10a88",
        "type": "api-call-service",
        "z": "4a5f96196f08ceb9",
        "name": "off",
        "server": "5a745765.1b0568",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.rs_weather_station",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 430,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "70428a66cd9e1b32",
        "type": "inject",
        "z": "4a5f96196f08ceb9",
        "name": "23:59 to off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "59 23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 235,
        "y": 400,
        "wires": [
            [
                "e64bcf2dfbc10a88"
            ]
        ]
    },
    {
        "id": "1c621b39a39caba3",
        "type": "server-state-changed",
        "z": "4a5f96196f08ceb9",
        "name": "PM2.5",
        "server": "5a745765.1b0568",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.rs_weather_station_1_pms5003_pm2_5",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 190,
        "y": 160,
        "wires": [
            [
                "30bae0b322194ddd"
            ]
        ]
    },
    {
        "id": "30bae0b322194ddd",
        "type": "switch",
        "z": "4a5f96196f08ceb9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "btwn",
                "v": "11",
                "vt": "num",
                "v2": "40",
                "v2t": "num"
            },
            {
                "t": "gte",
                "v": "41",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "bff2b87804d6f7ce"
            ],
            [
                "37ab3d318c52c360"
            ],
            [
                "ea48590e9418c4c3"
            ]
        ]
    },
    {
        "id": "bff2b87804d6f7ce",
        "type": "api-call-service",
        "z": "4a5f96196f08ceb9",
        "name": "green ",
        "server": "5a745765.1b0568",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.rs_weather_station",
        "data": "{\"rgb_color\":\"green\"}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 570,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "37ab3d318c52c360",
        "type": "api-call-service",
        "z": "4a5f96196f08ceb9",
        "name": "orange",
        "server": "5a745765.1b0568",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.rs_weather_station",
        "data": "{\"color_name\":\"orange\"}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 580,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "ea48590e9418c4c3",
        "type": "api-call-service",
        "z": "4a5f96196f08ceb9",
        "name": "red",
        "server": "5a745765.1b0568",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.rs_weather_station",
        "data": "{\"color_name\":\"red\"}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 570,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3d03e6e0a79e4222",
        "type": "comment",
        "z": "4a5f96196f08ceb9",
        "name": "change color in color name",
        "info": "",
        "x": 250,
        "y": 100,
        "wires": []
    },
    {
        "id": "67047a6af67fc5de",
        "type": "comment",
        "z": "4a5f96196f08ceb9",
        "name": "change color in decimal code",
        "info": "",
        "x": 900,
        "y": 100,
        "wires": []
    },
    {
        "id": "cc21ea930f8baf33",
        "type": "comment",
        "z": "4a5f96196f08ceb9",
        "name": "set brightness",
        "info": "",
        "x": 210,
        "y": 300,
        "wires": []
    }
]